/* CSS declarations go here */
html, body, div, span, section, article, form, h1, h2, ul, li { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

header, section {
  min-width: 819px;
  max-width: 1100px;
}

h1, h2, article, form, button {
  font-family: verdana;
}

h1, .project-name, .button-dd {
  color: #58878b;
}

h2, button {
  color: #fff;
}

h1, h2, button {
  font-weight: bold;
}

header{
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 200%;
  margin-bottom: 5px;
}

h2 {
  font-size: 140%;
}

section {
  background-color: #d1e8ea;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  }

.section-header {
  background-color: #58878b;
  border-radius: 5px 5px 0 0;
  padding: 3px 10px;
} 

article, form {
  padding: 10px;
}

article:nth-child(2n) {
  background-color: #e9f1f2;
}

.update-priority, .update-content, .update-date, .update-text, .project-name {
  display: inline-block;
}

.update-priority {
  padding-top: 3px;
  vertical-align: top;
  width: 4%;
}

.update-content {
  width: 95%;
}

.project-name {
  font-size: 120%;
  margin-bottom: 10px;
  width: 100%;
}

.update-date {
  font-style: italic;
  vertical-align: top;
  padding-bottom: 5px;
  width: 20%;
  font-size: 80%;  
}

.update-text {
  width: 79%;
  font-size: 80%;
}

.circle {
  background-color: grey;
  border-radius:9px;
  border: 2px solid #58878b;
  margin: auto;
  width: 15px;
  height:15px; 
}

.red {
  background-color: #ee4a4a;
}

.yellow {
  background-color: #f6d50a;
}

.green {
  background-color: #82d64d;
}

/*New update form (using flexbox layout)*/

form, .add-update-inputs, .wrapper-dd, .menu-opt, .add-update-text, div.new-update-btn {
  display: flex;
}

form, .wrapper-dd {
  flex-direction: column;
}

.add-project {
    flex-direction: row;
    justify-content: space-between;
}

.add-update-inputs {
  justify-content: space-between;
}

.wrapper-dd {
  cursor: pointer;
  font-size: 90%;
  position: relative;
}

.add-update-priority {
  width: 15%;   
}

.add-update-project {
  width: 18%;
}

.button-dd, .menu-dd {
  background-color: #fff;
}

.button-dd {
  height: 23px;
  padding-left: 4px;
  width: 100%;
}

.menu-dd {
  border: 1px solid #58878b;
  display: none;
  margin-top: 10px;
  position: absolute;
  width: 100%;
}

.active {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.menu-dd:after {
  border-width: 0 7px 7px 7px;
  border-style: solid;
  border-color: #fff transparent;
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15px;
  width: 0;
  height: 0;    
}

.menu-dd:before {
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #58878b transparent;
  content: "";
  position: absolute;
  bottom: 100%;
  right: 14px;
  width: 0;
  height: 0;    
}

.menu-opt {
  justify-content: flex-start;
  margin: 3px 0;
}

.highlight {
  background-color: #e9f1f2;
}

.wrapper-circle {
  margin-right: 10px;
  width: 20%;
}

.add-update-text {
  width: 63%;
}

#update-text {
  border: none;
  height: 50px;
  width: 100%;
}

div.new-update-btn {
  flex-wrap: wrap;
  justify-content: flex-end; 
  width: 100%;
}

button.new-update-btn, button.new-project-btn {
  background-color: #58878b;
  border: none;
  cursor: pointer;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  width: 100px;
}

.new-project-name {
 width: 70%;    
}