/* CSS declarations go here */
html, body, div, span, section, article, form, h1, h2, ul, li { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

h1, h2, article, form, button {
  font-family: verdana;
}

h1, .project-name, .button-dd {
  color: #58878b;
}

h2, button {
  color: #fff;
}

h1, h2, button {
  font-weight: bold;
}

header{
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

h1 {
  font-size: 200%;
  margin-bottom: 5px;
}

h2 {
  font-size: 140%;
}

section {
  background-color: #d1e8ea;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%; 
}

.section-header {
  background-color: #58878b;
  border-radius: 5px 5px 0 0;
  padding: 3px 10px;
} 

article, form {
  padding: 10px;
}

article:nth-child(2n) {
  background-color: #e9f1f2;
}

.update-priority, .update-content, .update-date, .update-text, .project-name {
  display:inline-block;
}

.update-priority {
  min-width: 30px;
  padding-top: 3px;
  vertical-align: top;
  width: 4%;
}

.update-content {
  width: 95%;
}

.project-name {
  font-size: 120%;
  margin-bottom: 10px;
  width: 100%;
}

.update-date {
  font-style: italic;
  vertical-align: top;
  padding-bottom: 5px;
  width: 20%;
  min-width: 100px;
  font-size: 80%;  
}

.update-text {
  width: 79%;
  font-size: 80%;
}

.circle {
  background-color: grey;
  border-radius:9px;
  border: 2px solid #58878b;
  margin: auto;
  width: 15px;
  height:15px; 
}

.red {
  background-color: #ee4a4a;
}

.yellow {
  background-color: #f6d50a;
}

.green {
  background-color: #82d64d;
}

/*New update form (using flexbox layout)*/

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.wrapper-dd {
  font-size: 90%;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px 3px 3px;
 }

.add-update-priority {
  width: 15%;
    
}

.add-update-project {
  width: 20%;
}

.button-dd, .menu-dd {
  background-color: #fff;
}

.button-dd {
  height: 23px;
  padding: 2px;
}

.menu-dd {
  display: none;
  position: relative;
  top: 10px;
    
}

.active {
  display: flex;
  flex-direction: column;
  //z-index: 1;
}

.highlight {
  background-color: #e9f1f2;
}

.add-update-text {
  width: 63%;
}

#update-text {
  width: 100%;
  height: 50px;
  border: none;
  margin: 0 3px;
}

div.new-update-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

button.new-update-btn {
  margin-top: 3px;
  background-color: #58878b;
  border: none;
  text-align: center;
  width: 100px;
  height: 30px;
}