/* CSS declarations go here */
html, body, div, span, section, article, form, h1, h2 { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header{
  margin: 20px auto;
  text-align: center;
  width: 80%;
}

h1 {
  font: bold 200% verdana;
  color: #58878b;
  margin-bottom: 5px;
}

h2 {
  font: bold 140% verdana;
  color: #ffffff;
}

section {
  background-color: #d1e8ea;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%; 
}

.section-header {
  background-color: #58878b;
  border-radius: 5px 5px 0 0;
  padding: 3px;
} 

article {
  padding: 10px 0 10px 0;
}

article:nth-child(2n) {
  background-color: #e9f1f2
}

.update_priority, .update_content, .update_date, .update_text, .project_name {
  display:inline-block;
}

.update_priority {
  padding-top: 3px;
  vertical-align: top;
  width: 4%;
  min-width: 30px;
}

.update_content {
  width: 95%;
}

.project_name {
  font: 120% verdana;
  color: #58878b;
  margin-bottom: 10px;
  width: 100%;
}

.update_date {
  font-style: italic;
  vertical-align: top;
  padding-bottom: 5px;
  width: 20%;
  min-width: 100px;  
}

.update_text {
  width: 79%;
}

.circle {
  background-color: grey;
  border-radius:9px;
  border: 2px solid #58878b;
  margin: auto;
  width: 15px;
  height:15px; 
}

.red {
  background-color: #ee4a4a;
}

.yellow {
  background-color: #f6d50a;
}

.green {
  background-color: #82d64d;
}
